* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img-back.jpg');
    background-size: cover;
    text-align: center;
    overflow-y: hidden;
}

#container {
    position: relative;
    margin-bottom: 10px;
    height: 300px;
}

#spider-man {
    position: absolute;
    width: 70px;
    height: 103px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#spider-man:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 1000px;
    left: 50%;
    bottom: 100%;
    margin-bottom: -18px;
    margin-left: -1px;
    border: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    z-index: 10;
}

#spider-man .head {
    border-radius: 15px 15px 10px 10px;
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 5px;
    left: 50%;
    margin-left: -14px;
    background: red;
    border: solid 1px rgba(3, 3, 61, 0.747);
}

#spider-man .head:before {
    content: " ";
    position: absolute;
    height: 4px;
    width: 8px;
    top: -6px;
    left: 50%;
    margin-left: -5px;
    background: red;
    border: solid 1px rgba(3, 3, 61, 0.747);
}

#spider-man .head .left-eye,
#spider-man .head .right-eye {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    width: 9px;
    height: 2px;
    bottom: 9px;
    background: white;
    border: solid 1px #1b405f;
}

#spider-man .head .left-eye {
    left: 3px;
}

#spider-man .head .right-eye {
    right: 3px;
}

#spider-man .body {
    position: absolute;
    width: 32px;
    height: 34px;
    top: 34px;
    left: 50%;
    margin-left: -16px;
    background: #0d0dbe;
    border: solid 1px #1b254480;
    z-index: 2;
}

#spider-man .body:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 4px;
    right: 4px;
    bottom: 0;
    background: red;
}

#spider-man .body:after {
    content: " ";
    position: absolute;
    width: 39px;
    height: 6px;
    top: -7px;
    left: 50%;
    margin-left: -19px;
    background: red;
    z-index: 0;
}

#spider-man .body .spider-symbol {
    border-radius: 50%;
    position: absolute;
    width: 4px;
    height: 10px;
    left: 50%;
    bottom: 5px;
    margin-left: -2px;
    background: #0d0dbe;
}

#spider-man .body .spider-symbol:before, #spider-man .body .spider-symbol:after {
    border-radius: 50%;
    content: " ";
    position: absolute;
    width: 10px;
    height: 12px;
    left: 50%;
    margin-left: -6px;
    border-style: double;
    border-width: 1px;
}

#spider-man .body .spider-symbol:before {
    top: 50%;
    border-color: #0d0dbe transparent transparent transparent; 
}

#spider-man .body .spider-symbol:after {
    bottom: 50%;
    border-color: transparent transparent #0d0dbe transparent; 
}

